.addEventsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 40px 0;

  label {
    display: flex;
    flex-direction: column;
    margin-right: 30px;

    input {
      width: 20rem;
    }
  }

  input {
    height: 25px;
    box-sizing: border-box;
  }
}
