@import '../../variables';

.containerEvent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);

    button {
        background-color: $contrast;
        color: $white;
    }

    button:active,
    button:hover {
        background-color: $accent;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    }
}

.performedEvent {
    background-color: $performed;
}

.distantEvent {
    background-color: $main;
}

.mediumEvent {
    background-color: $additional;
}

.nearEvent {
    background-color: $accent;
}
