@import '../../variables';

.addEventsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 40px 0;

  label {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    font-weight: bold;

    input {
      width: 20rem;
    }
  }

  input {
    height: 25px;
    box-sizing: border-box;
    margin-top: 5px;
  }

  input:focus-visible {
    border: 2px;
  }

  input[type=submit] {
    background-color: $main;
    padding: 5px 60px;
  }

  input[type=submit]:hover,
  input[type=submit]:active, {
    background-color: $accent;
  }
}
